In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

In [2]:
# Question 1
# Import the dataset from this(https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).
# Use sep= "|" while reading the data
df = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
print(df,sep =("|"))

https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [3]:
# Question 2
# Import the dataet form url
df = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df1 = pd.read_csv(df,sep = '|', index_col = 0)
df1

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [8]:
# Question 3
# See the first 10 and last 10 entries
print('First 10 Entries')
First_10 = df.head(10)
print(First_10)
print('\n')
print('Last 10 Entries')
Last_10 = df.tail(10)
print(Last_10)

First 10 Entries
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703


Last 10 Entries
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

In [14]:
# Question 4
# What is the number of observations in the dataset?
Number_of_observation = len(df.index)
print(f'Number_of_observation = {Number_of_observation}')

Number_of_observation = 10

In [15]:
# Question 5
# What is the number of columns in the dataset?
Number_of_columns = len(df.columns)
print(f'Number_of_columns = {Number_of_columns}')

Number_of_columns = 4

In [17]:
# Question 6
# Print name all of the columns
df_column_name = df.columns
print(df_column_name)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [18]:
# Question 7
# How is the dataset indexed?
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         10 non-null     int64
 1   gender      10 non-null     object
 2   occupation  10 non-null     object
 3   zip_code    10 non-null     object
dtypes: int64(1), object(3)
memory usage: 400.0+ bytes
None

In [19]:
# Question 8
# What is the datatype of each column
print(df.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [20]:
# Question 9
# print only the occupation column
print(df.occupation)

user_id
1        technician
2             other
3            writer
4        technician
5             other
6         executive
7     administrator
8     administrator
9           student
10           lawyer
Name: occupation, dtype: object

In [23]:
# Question-10
# How many different occupations are in this dataset?
print(df.occupation.nunique())

7

In [24]:
# Question-11
# What is the most frequent occupation?
df.occupation.mode()

0    administrator
1            other
2       technician
Name: occupation, dtype: object

In [25]:
#Question-12
# DataFrame Info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         10 non-null     int64
 1   gender      10 non-null     object
 2   occupation  10 non-null     object
 3   zip_code    10 non-null     object
dtypes: int64(1), object(3)
memory usage: 400.0+ bytes

In [26]:
#Question-13
# Describe all the columns
df.describe(include = 'all')

             age gender  occupation zip_code
count   10.00000     10          10       10
unique       NaN      2           7       10
top          NaN      M  technician    85711
freq         NaN      8           2        1
mean    37.40000    NaN         NaN      NaN
std     13.12504    NaN         NaN      NaN
min     23.00000    NaN         NaN      NaN
25%     25.25000    NaN         NaN      NaN
50%     34.50000    NaN         NaN      NaN
75%     50.25000    NaN         NaN      NaN
max     57.00000    NaN         NaN      NaN

In [28]:
# Question-14
# Summarize only the occupation column
df.occupation.value_counts()

technician       2
other            2
administrator    2
writer           1
executive        1
student          1
lawyer           1
Name: occupation, dtype: int64

In [33]:
# Question-15
# What is the mean age of the users ?
df.age.mean()

37.4

In [34]:
# Question-16
# What is the age with the least occurence ?
df.age.min()

23